<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ static_url('css/jquery.mobile-1.4.2.css') }}">
        <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/jquery.mobile-1.4.2.min.js') }}"></script> 
        <title>资料下载</title>
    </head>
<style type="text/css">
.list{
    text-decoration:none;
    color:#000000;
}
.tips{
    /*color:blue;*/
    position:absolute;
    bottom:40px;
}
.main{
    background-image:url(../static/images/b.jpg);
}
</style>
<body>
    <div data-role = "page" id="main" class="main">
        <!-- <div data-role="header">
            <h1>资料下载</h1>
        </div> -->
       
        <div data-role="content" class="main_content" >
            <h2>资料下载</h2>
            <ul  id="list">
                {%for f in files%}
                <li ><a class="list" style="color:black" data-ajax="false" href="file/{{escape(f)}}"><font size="5">{{escape(f)}}</font></a></li>
                {% end %}
            </ul>
            <p class="tips">提示：请点击右侧菜单使用手机浏览器下载或者电脑访问http://pan.baidu.com/s/1kTAD5TP下载文件</p>
        </div>
        <div data-role="footer" data-position="fixed">
          <h1>南京•东南大学</h1>
          </div>
    </div>
    <script>
    $(document).ready(function(){
        // $('#main').css("background-image","url(../static/images/a.jpg)");
    });
    </script>
</body>
</html>
