<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ static_url('css/jquery.mobile-1.4.2.css') }}">
        <title>选手列表</title>
    </head>

    <body>
        <div data-role="page"  data-theme="e">
        <div role="main" data-role="none">
            <center>
                <div data-role="fieldcontain">
                <h1>候选人列表</h1>
                </center>
                {% for i in range(0,len(candidate))%}
                <a style={color:red} href="{{LOCAL}}/mobile_candidate_detail/number/{{candidate[number[i]]['number']}}">{{1}}.{{candidate[number[i]]['name']}}({{candidate[number[i]]['college']}})
                </a><br>
                {% end %}
            
    </body>
</html>
