<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ static_url('css/jquery.mobile-1.4.2.css') }}">
        <title>投票规则</title>
    </head>
    <body>
    <div data-role="page">
        <div role="main" class="ui-content">
            <center>
            <div data-role="fieldcontain">
                <p>本着公平公正的原则
                <p>没人每天只能投一票
            </center>
        </div>
    </div>

    <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/jquery.mobile-1.4.2.min.js') }}"></script>
    </body>
</html>
