<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ static_url('css/jquery.mobile-1.4.2.css') }}">
        <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/jquery.mobile-1.4.2.min.js') }}"></script> 
        <title>修改密码</title>
    </head>

    <body>
        <div data-role="page" id="main">
            <div data-role="header">
                <h1>修改密码</h1>
            </div>
            <div data-role="content" class="main_content">
                <div data-role="fieldcontain">
                    <!-- <div data-role="controlgroup" > -->
                    <label for="old_password">原密码：</label>
                    <input type="password" name="old_password" id="old_password" placeholder="原密码" value="">
                    <label for="new_password">新密码：</label>
                    <input type="password" name="new_password" id="new_password" placeholder="至少6位" value="">
                    <label for="repeat_password">确认密码：</label>
                    <input type="password" id="repeat_password" name="repeat_password" placeholder="" value="">
                   <!--   --></div>
                <div data-role="fieldcontain">
                    <a data-role="button" data-transition="slide" id="bind_button" data-theme="b">修改</a>
                </div>
                <div data-role="footer" data-position="fixed" >
              <h1>东南大学2015</h1>
              </div>
            </div> 
        </div>
        </div>

    <script>
    $(document).ready(function(){
         $('#main').css("background-image","url(../static/images/update.jpg)");
        $('#bind_button').on('click',function(){
            $.mobile.loading('show',{theme:"b",text:"正在操作...",textonly:true, textVisible: true});
            setTimeout(function(){
                $.ajax({
                    url:'http://127.0.0.1/update/{{openid}}',
                    type:'POST',
                    data:{
                        'old_password':$('#old_password').val(),
                        'new_password':$('#new_password').val(),
                        'repeat_password':$('#repeat_password').val()
                    },
                    success:function(e){
                        $.mobile.loading('hide');
                        if(e=='success'){
                            $('.main_content').html('<div style="margin-top:20%"><center>修改密码成功</center></div>');
                        }
                        else{
                            alert(e);
                        }
                    },
                    erroe:function(e){
                        $.mobile.loading('hide');
                            alert('修改失败,请检查网络');
                    }
                });
            },50);
            });
        });
    </script>
    </body>
</html>